<div class="container">
    
    <br>
    <div class="card bg-sure text-white">
        
        <img src="assets/img/bg.jpg" class="card-img" alt="contacto" width="500" height="250">
        <div class="card-img-overlay">
            
            <h1  class="site-heading text-center text-faded d-none d-lg-block ">
                CONTACTANOS   </h1> 
        
      </div>
      

</div>
<br>
<body>
    <div class="container">
        <strong> ENVÍANOS UN MENSAJE </strong>
    <p class="border text-center"><i> Para cafepas es de gran importancia conocer sus opiniones sobre nuestra empresa y nuestros productos. 
        Si tiene alguna inquietud no dude en contactarse con nosotros a través de esta ventana. 
        Le responderemos lo antes posible.
    </i></p>
</div>
    
    <a href="https://api.whatsapp.com/send? phone=+57 3026028609&text=hola,">
        <img src="assets/img/whatsapp2.png" alt="">
    </a>
</body>
