<div class="container">
  <img src="assets/img/logocafe.png" alt="" width="100" height="100" class="d-inline-block align-text-top">
<br>
  <ul class="nav">
  <li class="nav-item">
    <button  class="btn btn-default" (click)="Inicio()">Inicio</button>
  </li>
  <li class="nav-item">
    <button  class="btn btn-default" (click)="NuestrosProductos()">Nuestros Productos</button>
  </li>
  <li class="nav-item">
    <button  class="btn btn-default" (click)="Contacto()">Contacto</button>
  </li>
  <li class="nav-item">
    <button  class="btn btn-default" (click)="SobreNosotros()">Sobre Nosotros</button>
  </li>
</ul>
</div>
<router-outlet></router-outlet>
